* {
    padding: 0;
    margin: 0;
}
.main{
    margin: 50px auto;
    max-width: 800px;
    padding: 15px;
    border: 2px solid #8a3cff;

}
h1{
    background-color: transparent;
    color: #333333
}
.main-header{
    display: flex;
    justify-content: space-between;
}

 .dropdown{
    max-width: 150px;
    margin: 4px;
    padding: 6px;
    cursor: pointer;
    height: 40px;
    outline: 0;
    background-color: #7d45ff;
    color: #ffffff;
    border-radius: 34px;
}
 .dropdown .option {
    padding: 14px;
    border: 0;
    margin: 12px;
}
.main-container{
    display: flex;
    padding: 23px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(236, 236, 236);
    
}
::-webkit-scrollbar-thumb{
    background-color: #a3a3a3;
}
.container textarea{
    outline: 0;
    text-align: start;
    font-size: larger;
    height: 250px;
    border: 0;
    width: 100%;
    resize: none;
    color: #fff;
    word-break: break-all;
    background: none;
}
.container{
    background-color: #7d45ff;
    height: 300px;
    width: 100%;
    border-radius: 14px;
    margin: 12px;
    color: #ffffff;
    border: 0;
    text-align: start;
    outline: 0;
    padding: 12px;
    word-break: break-all;
}
@media screen and (max-width:970px) {
    .main-header{
        flex-direction: column;
        width: 100%;
    }
    .main{
        margin: auto;
        border: none;
        width: 100%;
        max-width: none;
    }
    .main-container{
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .container{
        height: 200px;
        width: 250px;
    }
}